<div class="container-fluid py-5">
  <div class="row align-items-center">
    <!-- Image Section -->
    <div class="col-lg-6 text-center">
      <div class="image-container position-relative">
        <img src="https://via.placeholder.com/813x996" alt="About Me Image" class="img-fluid rounded">
        <div class="background-overlay"></div>
      </div>
    </div>

    <!-- Text Section -->
    <div class="col-lg-6">
      <div class="text-content">
        <p class="h6">About</p>
        <h2 class="display-4">About Me</h2>
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa sollicitudin amet augue.
          Nibh metus a semper purus mauris duis. Lorem eu neque, tristique quis duis. Nibh scelerisque ac adipiscing velit non nulla in amet pellentesque.
        </p>
        <p class="lead">
          Sit turpis pretium eget maecenas. Vestibulum dolor mattis consectetur eget commodo vitae. Amet pellentesque sit pulvinar lorem mi a, euismod risus r.
        </p>
      </div>
    </div>
  </div>
</div>
