<div class="container-fluid py-5">
  <div class="row align-items-center">
    <!-- Image Section -->
    <div class="col-lg-6 text-center">
      <div class="image-container position-relative">
        <img src="assets/about-me.png" alt="About Me Image" class="img-fluid rounded">
        <div class="background-overlay"></div>
      </div>
    </div>

    <!-- Text Section -->
    <div class="col-lg-6">
      <div class="text-content">
        <p class="h6">About</p>
        <h2 class="display-4">About Me</h2>
        <p class="lead">
          I am a dedicated Software Engineer specializing in Spring Boot, Java, and Angular, with a passion for improving system architectures and managing code quality. My experience spans across various sectors, where I have successfully led projects that optimize performance, enhance security, and streamline processes.
        </p>
        <p class="lead">
          I have a strong background in backend and frontend development, database management, and continuous integration. My work has equipped me with the skills to tackle complex challenges and drive innovation. I am always eager to embrace new opportunities and contribute to impactful projects.
        </p>
      </div>
    </div>
  </div>
</div>
