<div class="container-fluid py-5">
  <!-- Heading Section -->
  <div class="text-start mb-5">
    <p class="h6">My Skills</p>
    <h2 class="display-4">My Expertise</h2>
  </div>

  <!-- Expertise Cards Section -->
  <div class="row g-4">
    <div class="col-lg-3 col-md-6">
      <div class="expertise-card p-4 h-100">
        <div class="icon-container mb-3">
          <img ngSrc="assets/backend.png" alt="Backend Development Icon" height="53" width="53">
        </div>
        <h4>Backend Development</h4>
        <p>Extensive experience in building and optimizing backend architectures using Spring Boot, Java, and microservices for scalable and efficient systems.</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="expertise-card p-4 h-100">
        <div class="icon-container mb-3">
          <img ngSrc="assets/backend.png" alt="Front Development Icon" height="53" width="53">
        </div>
        <h4>Frontend Development</h4>
        <p>Proficient in Angular and React, with strong skills in creating responsive, user-friendly interfaces using modern web technologies like HTML5, CSS3, and JavaScript.</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="expertise-card p-4 h-100">
        <div class="icon-container mb-3">
          <img ngSrc="assets/database.png" alt="Database Management Icon" height="53" width="53">
        </div>
        <h4>Database Management</h4>
        <p>Skilled in managing and optimizing databases including MySQL, Oracle, PostgreSQL, and SQL Server, ensuring data integrity and performance.</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="expertise-card p-4 h-100">
        <div class="icon-container mb-3">
          <img src="assets/devops.png" alt="DevOps & CI/CD Icon" height="53" width="53">
        </div>
        <h4>DevOps & CI/CD</h4>
        <p>Experienced in continuous integration and delivery using tools like Jenkins, Docker, Kubernetes, and Sonar to automate processes and improve code quality.</p>
      </div>
    </div>
  </div>
</div>
