.container {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.h6 {
  color: #282938;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.display-6 {
  color: #282938;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

.form-label {
  color: #282938;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.form-control-sm, .form-select-sm {
  padding: 8px;
  height: 36px;
  font-size: 14px;
  border-radius: 6px;
}

textarea.form-control-sm {
  padding: 8px;
  height: auto;
  font-size: 14px;
  border-radius: 6px;
}

.btn-sm {
  background-color: #5E3BEE;
  border: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border-radius: 6px;
}

.btn-sm:hover {
  background-color: #4e2edb;
}

.form-check-input {
  border-radius: 5.33px;
  width: 16px;
  height: 16px;
}

.form-check-label {
  color: #282938;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 768px) {
  .display-6 {
    font-size: 28px;
    line-height: 34px;
  }

  .h6, .form-label {
    font-size: 16px;
    line-height: 20px;
  }

  .btn-sm {
    font-size: 14px;
  }
}
.form-control-sm,
.form-select-sm,
.form-check-input {
  border-color: #4e2edb !important;
}
