.container-fluid {
  padding: 0 15px;
  background-color: #F5FCFF;
}

.h6, .display-4 {
  color: #282938;
  font-family: 'Roboto', sans-serif;
}

.h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.display-4 {
  font-weight: 700;
  font-size: 32px; /* Reduced for better fit on mobile */
  line-height: 40px;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
}

.testimonial-card {
  background: #ffffff;
  border-color: #006B6A !important;
  text-align: center;
  width: 100%;
}

.stars span {
  color: #006B6A;
  font-size: 1.2rem; /* Adjusted font size */
}

.testimonial-text {
  color: #1C1E53;
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Adjusted font size */
  line-height: 22px;
}

.testimonial-card h5 {
  color: #282938;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 14px; /* Adjusted font size */
}

.testimonial-card small {
  color: #1C1E53;
  font-family: 'Roboto', sans-serif;
  font-size: 12px; /* Adjusted font size */
}

.btn-primary {
  background-color: #006B6A;
  border-color: #006B6A;
}

.see-more {
  color: #006B6A;
  font-size: 14px;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.8;
}

.carousel-control-prev {
  left: 0;
  background: #1c1e53;
}

.carousel-control-next {
  right: 0;
  background: #1c1e53;
}
.link-review{
  cursor: pointer;
  text-decoration: none;
}
