.mynavbar {
  background-color: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  min-height: 80px;
}

.logo img {
  max-height: 50px;
}

.menu-item {
  color: #1c1e53;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.menu-item.active {
  color: #5e3bee;
}

.contact-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-width: 1px;
  border-color: #5e3bee;
  color: #5e3bee;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.contact-button:hover {
  background-color: #5e3bee;
  color: #ffffff;
}


.mobile-menu {
  background-color: #ffffff;
  padding: 10px 0;
  display: none;
}

.mobile-menu.active {
  display: flex;
}

@media (max-width: 767.98px) {
  /* Hide the desktop menu and contact button on mobile */
  .menu {
    display: none;
  }

  /* Display the hamburger button */
  .menu-toggle {
    display: block;
    font-size: 1.5rem;
    border: none;
    background: none;
    color: #5e3bee;
  }

  /* Show the mobile menu when active */
  .mobile-menu {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  /* Adjust menu item styles for mobile */
  .mobile-menu .menu-item {
    font-size: 1rem;
    padding: 10px 0;
  }

  .mobile-menu.active {
    display: flex;
  }
}
