<div class="container-fluid main-content bg-light py-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="text-content">
        <h2 class="greeting">Hey, I am Ilyass</h2>
        <h1 class="main-title">
          I am a <span class="highlight">Full Stack Engineer</span> specializing in
          Spring Boot, Java, and Angular
        </h1>
        <p class="description">
          I have solid experience in improving architectures and managing code quality, with a keen interest in optimizing systems and enhancing application performance. I'm currently looking for new challenges to further advance my career.
        </p>
        <button class="btn btn-primary mt-3">Get In Touch</button>
      </div>
    </div>
    <div class="col-md-6 text-center text-md-end">
      <img src="assets/intro.png" alt="Main Image" class="img-fluid" />
    </div>
  </div>
</div>
