.experience-image img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Adjust spacing from the title */
}

.experience-details {
  background: white;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.experience-details:hover {
  transform: translateY(-5px);
}

@media (max-width: 992px) {
  .experience-image img {
    margin-bottom: 20px;
  }

  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }

  .display-4 {
    font-size: 36px;
    line-height: 45px;
  }

  .d-flex.flex-column.flex-lg-row .experience-image {
    order: -1; /* Move the image above text on smaller screens */
    margin-bottom: 20px; /* Adjust the spacing below the image */
  }
}

.btn-back {
  background-color: #1C1E53;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
  border: none;
}
.py-5 {
  padding-top: 6rem !important;
}

.list-inline-item img {
  max-height: 100px !important; /* Increase the size of the technology images */
}

/* New Styles for Project Highlights */
.project-highlights {
  background-color: #f8f9fa;
  border-radius: 8px;
}

.project-highlights .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.project-highlights .card:hover {
  transform: translateY(-5px);
}

.project-highlights .card-body {
  display: flex;
  align-items: center;
}

.project-highlights .card-body i {
  font-size: 24px;
  color: #1C1E53;
  margin-right: 10px;
}
