<div class="container container-fluid py-5">
  <!-- Back Button -->
  <div class="mb-4">
    <button (click)="goBack()" class="btn btn-back d-flex align-items-center">
      <i class="fab fa-chevron-circle-left"></i> Back
    </button>
  </div>

  <!-- Title and Project Details -->
  <div class="mb-5">
    <div class="d-flex flex-column flex-lg-row align-items-start">
      <div class="flex-grow-1">
        <h2 class="display-6">{{ projectTitle }}</h2>
        <p class="text-muted">{{ company }}, {{ location }}</p>
        <p class="mb-2"><strong>Duration:</strong> {{ duration }}</p>
        <p><strong>Description:</strong> {{ projectDescription }}</p>

        <!-- Project Highlights -->
        <div class="project-highlights mt-4 p-3">
          <h3>Project Highlights</h3>
          <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let responsibility of projectResponsibilities">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-check-circle"></i>
                  <p>{{ responsibility }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3 class="mt-4">Technologies Used:</h3>
        <ul class="list-inline">
          <li *ngFor="let technology of projectTechnologies" class="list-inline-item">
            <img [src]="getTechnologyImage(technology)" [alt]="technology" class="img-fluid" style="max-height: 50px;">
          </li>
        </ul>
      </div>
      <div class="experience-image ms-lg-4 mt-4 mt-lg-0">
        <img [src]="projectImage" alt="{{ projectTitle }}" class="img-fluid rounded">
      </div>
    </div>
  </div>
</div>
